#bottom_pane {
	background-color: rgba(0,0,0,0.24);
}

#time {
	font-family: sans;
	color: #ffffff;
}

#user_list, #login_entry {
	background-image: none;
}

#prompt, #bottom_pane GtkLabel {
	color: #ffffff;
}
